input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: 1px solid $color__white-smoke;
	box-shadow: none;
	border-radius: 0;
	width: 100%;
	padding: 15px 20px;
	margin-bottom: 20px;
	resize: none;
	-webkit-appearance: none;

	font-family: $font__sec;

	&:focus {
		
	}

	&.wpcf7-not-valid
	{
		border-color: $color__invalid;
	}

	& + .wpcf7-not-valid-tip
	{
		display: none;
	}
}

select {
	border: 1px solid $color__white-smoke;
	width: 100%;
	padding: 15px 20px;
	margin-bottom: 20px;

	&.wpcf7-not-valid
	{
		border-color: $color__invalid;
	}

	& + .wpcf7-not-valid-tip
	{
		display: none;
	}

	option
	{
		display: block;
		padding: 10px 0;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
	
}

textarea {
	padding-left: 3px;
	width: 100%;
}


div.wpcf7-response-output
{
	padding: 10px;

	&.wpcf7-validation-errors
	{
		color: $color__invalid;
		border: solid 2px $color__invalid;
	}

	&.wpcf7-mail-sent-ok
	{
		
	}
}


// HTML5 form placeholder pseudo-selector
	// Notes: They cannot be combined together into one group with a comma for whatever reason. Using mixin to get around this.
@mixin placeholderStyles()
{
	
}

::-webkit-input-placeholder 
{
  	@include placeholderStyles();
}
::-moz-placeholder 
{ 
	/* Firefox 19+ */
	@include placeholderStyles();
}
:-moz-placeholder 
{ 
	/* Firefox 18- */
	@include placeholderStyles();
}
:-ms-input-placeholder 
{
	@include placeholderStyles();
}
